/*body {
	background-color: #F3CA40;
}*/

img {
	width: 100%;
}

.nav {
	background-color: #000072;
	display: flex;
	justify-content: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 27px;
}

.nav li a {
	color: white;
}

.row ul {
	margin: 0;
}

.nav ul {
	margin: 0;
}

div.row.nav {
	margin: 0;
}

.menu-item-price-top {
	float: right;
}

.choices {
	display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu-section-title {
	font-size: 40px;	
}

.img {
	padding: 0;
}

.menu-item {
	padding: 15px;
}

div.menu-item-title {
	font-size: large;
	font-weight: bold;
}

/*.menu-items {
	background-color: #000072;
}*/